table {
  margin: auto;
  width: 1000px;
  height: 350px;
  box-shadow: 10px 10px 10px;
}
td {
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
}
.weather-details > h1 {
  font-size: 4rem;
}
.weather-details > h2 {
  font-size: 5rem;
}

.weather-details > P {
  font-size: 2rem;
}
